body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100% ;
    margin: 0;

}
.doctors-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doctor { display: flex;
    border: 1px solid #dfd6d6;
    margin: 5px;
    padding: 5px;
    background-color: #d5f2c6;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    align-items: center;
    width: 100%;  
    height: 200px;
    min-height: 200px;
     
}
   


.doctor img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    border-radius: 50%;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.details h2 {
    color: #333;
    margin-bottom: 10px;
    text-align: center; 
}
.details p {
    color: #666;
    margin-bottom: 5px;
    text-align: center;  
}

.details p:last-child {
    color: #999;
}
@media only screen and (max-width: 600px) {
    .doctor {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .doctor img {
        margin-bottom: 20px;
    }
}